h1 {
    background-color:white;
}

.createaplan {
    width: 50%;
}

.plans {
    width: 80%;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
  }