{% block head %}
<link rel="stylesheet" href="../static/css/available_plans.css">
{% endblock %}

{% extends 'base.html' %}


{% block content %}

{% for objects in plan %}


<div class="container">

    <!-- service card -->
    <div class="plans">

        <!-- break between description and service -->
        <div class="break"></div>


        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="{{ objects.url }}" class="img-fluid" alt="" style="width: 200px !important;">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">{{ objects.service_name }}</h4>
                        <p class="card-text description">{{ objects.description }}</p>
                        <form action="{{ url_for('addcartplan', plan_id=objects.id) }}" method="post">
                            <input type="submit" value="Add To Cart" class="btn btn-warning">
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                $ {{ objects.price }}
            </div>
        </div>

    </div>
    <div class="break"></div>
    <div class="break"></div>
</div>


{% endfor %}

{% endblock content %}