{% block head %}
<link rel="stylesheet" href="../static/css/available_plans.css">
{% endblock %}

{% extends 'base.html' %}


{% block content %}

{% for objects in plan %}

{{ objects.service_name }}


<div class="container">

    <!-- service card -->
    <div class="plans">

        <!-- break between description and service -->
        <div class="break"></div>


        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="https://via.placeholder.com/200" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">{{ objects.service_name }}</h4>
                        <p class="card-text">{{ objects.description }}</p>
                        <a href="#" class="btn btn-primary">ADD TO CART</a>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                {{ objects.price }}
            </div>
        </div>

    </div>
    <div class="break"></div>
    <div class="break"></div>
</div>


{% endfor %}

{% endblock content %}