{% block head %}
<link rel="stylesheet" href="../static/css/available_plans.css">
{% endblock %}

{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="createaplan">
        <h1>Submit a New Plan</h1>

        <!-- form for admin to submit new sales -->
        <form action="" method='POST'>
            {{ form.hidden_tag() }}
            <fieldset>
                {{ form.service_name.label }}
                {{ form.service_name(class="form-control", placeholder="Service") }}
            </fieldset>
            <fieldset>
                {{ form.price.label }}
                {{ form.price(class="form-control", placeholder="Price") }}
            </fieldset>
            <fieldset>
                {{ form.description.label }}
                {{ form.description(class="form-control", placeholder="Description") }}
            </fieldset>
            <fieldset>
                {{ form.url.label }}
                {{ form.url(class="form-control", placeholder="URL") }}
            </fieldset>
            <fieldset>
                {{ form.sale(class='form-check-input') }}
                {{ form.sale.label(class='form-check-label') }}
            </fieldset>
            {{ form.submit(class="btn btn-success")}}
        </form>

    </div>

    <!-- description for admin -->
    <div class="dale">

        <h1>Welcome back Dale!</h1><br><br>
        <p>
            <img src="https://i.imgflip.com/10pb3v.jpg" class="dale">
        </p>

    </div>
</div>

<div class="break"></div>


{% for objects in plan %}

{{ objects.service_name }}


<div class="container">

    <!-- service card -->
    <div class="plans">

        <!-- break between description and service -->
        <div class="break"></div>


        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="https://via.placeholder.com/200" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">{{ objects.service_name }}</h4>
                        <p class="card-text">{{ objects.description }}</p>
                        <a href="#" class="btn btn-primary">ADD TO CART</a> <a href="#" class="btn btn-danger">EDIT</a>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted">
                {{ objects.price }}
            </div>
        </div>

    </div>
    <div class="break"></div>
    <div class="break"></div>
</div>


{% endfor %}
{% endblock content %}