{% extends 'base.html' %}

{% block content %}
<h4 class="regwelcome">Login</h4>
<!--Login Form goes Here-->
<form class="" action="" method="POST">
    {{ form.hidden_tag()}}
    <div class="form-group cstform">
        <fieldset>
            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Username') }}
        </fieldset>
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Password') }}
        </fieldset>
        <fieldset>
            {{ form.remember_me(class='form-check-input') }}
            {{ form.remember_me.label(class='form-check-label') }}
        </fieldset>
        {{ form.submit(class='btn regbtn') }}
    </div>
</form>
{% endblock %}