
{% extends "base.html" %}

{% block content %}
    <h4>Hello, {{ current_user.username }}, here is your pending plans.</h4>
    <form action="{{ url_for("addcartplan", plan_id=1) }}" method="post">
        <input type="submit" value="Add something" class="btn btn-success">
    </form>


    {% for objects in cart %}
        {% if current_user.id == objects.user_id %}
        <div class="cart-item">
            <h1>{{ objects.plan.service_name }}</h1>
            <p>{{ objects.plan.price }}</p>
            <form action="{{ url_for('removecartplan', cart_id=objects.id) }}" method="post">
                <input type="submit" value="Remove from Cart" class="btn btn-danger">
            </form>

        </div>

        {% endif %}
    {% endfor %}

    <h2>Total Price: ${{ total_price }}</h2>

{% endblock %}