
{% extends "base.html" %}

{% block content %}
    <h4 class="regwelcome">Hello, {{ current_user.username }}</h4>
    <h4 class="regwelcome">Here is your pending plan(s).</h4>
    <form action="{{ url_for("addcartplan", plan_id=1) }}" method="post">
        <input type="submit" value="Add something" class="btn btn-success">
    </form>


    {% for objects in cart %}
        {% if current_user.id == objects.user_id %}
        <div class="cart-item">
            <div>
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <div class="cart-item2">
                <div>
                    <h2>{{ objects.plan.service_name }}</h2>
                    <p>{{ objects.plan.description }}</p>
                </div>
    
                <div>
                    <p>${{ objects.plan.price }}</p>
                    <form action="{{ url_for('removecartplan', cart_id=objects.id) }}" method="post">
                        <input type="submit" value="Remove from Cart" class="btn cstbtn">
                    </form>
                </div>
            </div>
        </div>
        
        {% endif %}
    {% endfor %}


    <h2>Total Price: ${{ total_price }}</h2>

{% endblock %}